cmdb_ui_lite/node_modules
cmdb_ui_lite/dist


bk-cmdb/src/bin/*
bk-cmdb/src/*/*/cmdb_*
bk-cmdb/src/apiserver/*apiserver
bk-cmdb/src/apiserver/cmdb_*
bk-cmdb/src/scene_server/*/*server
bk-cmdb/src/scene_server/*/*collection
bk-cmdb/src/source_controller/*/*controller
bk-cmdb/src/source_controller/*/coreservice
bk-cmdb/src/web*/*server
bk-cmdb/src/web*/cmdb_*

*exvim*

.DS_Store
.vscode


